* {
    box-sizing: border-box;
}

table#table{ /*html failis table id=tabel1*/
    width: 40%;
    height: 100px;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse; /*ühine ääris*/
    color: white;
}
#table td{
    width: 33%;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    line-height: 1.5;
}
#table tr:nth-child(1) td:nth-child(1) {
    background-color: #040404;
}
#table tr:nth-child(1) td:nth-child(2) {
    background-color: #1a1d1f;
}
#table tr:nth-child(1) td:nth-child(3) {
    background-color: #30363a;
}
#table tr:nth-child(2) td:nth-child(1) {
    background-color: #464f55;
}
#table tr:nth-child(2) td:nth-child(2) {
    background-color: #5c6870;
}
#table tr:nth-child(2) td:nth-child(3) {
    background-color: #72818b;
}
#table tr:nth-child(3) td:nth-child(1) {
    background-color: #8c99a1;
}
#table tr:nth-child(3) td:nth-child(2) {
    background-color: #a7b1b7;
}
#table tr:nth-child(3) td:nth-child(3) {
    background-color: #c2c9cd;
}
body{
    font-family: 'Lato', serif;
    background: #e6e6e6;
}
header{
    font-size: 20px;
    font-variant: all-petite-caps;
    padding-top: 5px;
    padding-bottom: 5px;
    background-image: url("../content/ylesanne/ylesanneContent/logo2.png");
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    color: black;
    font-family: 'Lato', serif;
    border: double 5px #e6e6e6;
    text-shadow: 3px 3px 3px #ababab;
    text-align: center;
}
header h1{
    letter-spacing: 0.1cm;
}
a{
    text-decoration: none;
    color: steelblue;
}
.container {
    display: flex;
}
.leftcolumn{
    float: left;
    width: 170px;
    margin: 0;
}
.rightcolumn{
    float: left;
    width: 100%;
    background-color: #e6e6e6;
}
.rightcolumn section{
    background-color: white;
    border: 6px double #e6e6e6;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
}
.menu{
    background-color: black;
    display: block;
    position: relative;
    float: left;
    width: 170px;
    line-height: 1.5;
    color: white;
    overflow: visible;
    height: 100%;
}
.menu ul {
    padding-left: 0;
}
.menu ul>li{
    display: block;
    position: relative;
    padding: 0;
    width: 100%;
}
.menu li a{
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    position: relative;
}
.menu li a:hover{
    background-color: slategray;
    color: white;
}
.menu li:hover>ul{
    display: block;
}
.menu li:hover{
    background-color: slategray;
    color: white;
}
.dropdown{
    display: none;
    position: absolute;
    min-width: 170px;
    left: 100%;
    top: 0;
    z-index: 10;
    transition: all 0.3s ease;
}
.dropdown li a{
    background-color: black;
}
.dropdown li:hover a{
    background-color: slategray;
}
footer {
    background-color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative;
    clear: both;
    border: double 5px #e6e6e6;
}
.dropdown2{
    display: none;
    position: absolute;
    min-width: 170px;
    left: 100%;
    top: 0;
    z-index: 10;
    transition: all 0.3s ease;
    background-color: black;
}
.dropdown2 li a{
    background-color: black;
}
.dropdown2 li:hover a{
    background-color: black;
}